#bigred {
    font-size: xx-large;
    color: rgb(255, 0, 55);
}

#smallgreen {
    font-weight: bold;
    font-size:
        small;
    color: green;
}

.bluemed {
    color: blue;
    font-size: medium;
    font-weight: bold;
}

h5 {
    color: blueviolet;
}

p b {
    color: rgb(194, 21, 151);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bluemed b {
    color: blue;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

q {
    font-weight: bold;
    font-size: 25px;
    color: coral;
}

a:active {background-color: black; color: burlywood; }
a:hover {color: darkred; font-weight: bold;}

a:link {color: lightgreen; font-weight: bold;}

.t_font {
    font: bold; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: lightgray;
}

.text_col {
font-size: 25px;
color: blue;
}

.t_font.text_col {
    font-size: 25px;
    color: red;

}